@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.tableCSS {
    -webkit-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
    box-shadow: -5px 2px 62px 8px rgba(0,0,0,0.25);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 15px;
    /* overflow-x: auto;*/
    text-align: center;
}

#ConfH{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #CC6633;
    color: rgb(48, 38, 38);
    font-size: xx-large;
    text-align: center;
	text-transform: uppercase;
}

.tableCSS th, td {
    border: 1px solid #dee2e6;
}

.tableCSS thead {
    background-color: #666;
    color: white;
    font-size: 0.85rem;
    text-transform: uppercase;
}

#vTablebtn{
    width: 100%;
    background-color: #CC6633;
    border: none;
    color: rgb(48, 38, 38);
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    padding: .4em 1em;
    cursor: pointer;
}

#vTablebtn:hover{
    background-color: rgb(48, 38, 38);
    color: #CC6633;
}

#confBtns{
    background-color: #CC6633;
    color: #cecbcb;
    width: 100%;
    padding: .7em 1em;
    border: none;
    font-size: 17px;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#confBtns:hover{
    background-color: rgb(48, 38, 38);
    color: #CC6633;
}

.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.grid-item {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
    border-style:outset;
    border-color: #CC6633;
    color: #333;
}

.grid-item:hover{
    background-color: #333;
    border-color: #fff;
    color: #CC6633;
}

.grid-item h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
    font-size: x-small;
}

.grid-item h3 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-family: 'Muli', sans-serif;
    font-size: larger;
    font-weight: bold;
}

.grid-item h4 {
	letter-spacing: 1px;
	margin: 10px 0;
    font-family: 'Muli', sans-serif;
    font-size: small;
    font-weight: bold;
}

.info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.gridbtn {
	background-color: #CC6633;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 13px;
    font-family: 'Muli', sans-serif;
	padding: 10px 18px;
    border-style:outset;
	position: absolute;
	bottom: 10px;
	right: 15px;
	letter-spacing: 1px;
    font-weight: bold;
}

.gridbtn:hover{
    color: #CC6633;
    background-color: #fff;
}

.gridbtn2 {
	background-color: #CC6633;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 13px;
    font-family: 'Muli', sans-serif;
	padding: 10px 18px;
    border-style:outset;
	position: absolute;
	bottom: 10px;
	right: 150px;
	letter-spacing: 1px;
    font-weight: bold;
}

.gridbtn2:hover{
    color: #CC6633;
    background-color: #fff;
}

#xtra{
    padding-bottom: 20px;
}